<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Welcome to Chat Support</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row my-3 bg-black py-3">
        <div class="col-6 d-flex align-items-center">
          <a class="navbar-brand ms-3 text-white" href="#">Chat Support</a>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <a class="me-3 text-white text-decoration-none" href="#">Home</a>
          <a class="me-3 text-white text-decoration-none" href="#">Filter</a>
          <button id="create-ticket-button"> 
            <a class="me-3 text-white text-decoration-none" href="#" type="submit">Create Ticket</a>
          </button>
          
          <form onsubmit="logout(event)">
              <button type="submit" class="logout-btn" type="submit">LogOut</button>
          </form>
        </div>
      </div>
    </div>

    <div class="welcome">
      <h1 style="font-size: 48px; color: #333; text-align: center; margin-bottom: 30px; animation: fade-in 1s;">Welcome to Chat Support <%= username %></h1>
      <hr style="height: 2px; border: none; background-color: #333; margin: 20px auto; width: 50%; animation: slide-in 1s;">
      <div class="details-container" style="display: flex; flex-direction: column; align-items: center; animation: pop-in 1s;">
        <h3 style="font-size: 28px; color: #666;">ID: <%= id %></h3>
        <h3 style="font-size: 28px; color: #666;">Email address: <%= email %></h3>
        <% if (role === 'user') { %>
          <h3 style="font-size: 28px; color: #666;"><%= username %> is a User</h3>
        <% } else { %>
          <h3 style="font-size: 28px; color: #666;"><%= username %> is a Support</h3>
        <% } %>
      </div>
    </div>

<!-- a form with fields for the ticket title and message, as well as a submit button. -->
    <div id="new-ticket-view">
      <h2>Create a New Ticket</h2>
      <form id="new-ticket-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
        <button type="submit">Submit Ticket</button>
      </form>
    </div>
    
    

    
        
      

    <!-- Your website content goes here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/logout.js"></script>
    <script src="createticket.js"></script>
  </body>
</html>