<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" />
    <title>Welcome to Chat Support</title>
  </head>
  <body>
    <div class="navbar">
      <a class="navbar-brand" href="#">Chat Support</a>
      <div>
        <a href="#">Home</a>
        <a href="#">Filter</a>
        <a href="#">Create Ticket</a>
        <form onsubmit="logout(event)">
            <button type="submit" class="logout-btn" type="submit">LogOut</button>
        </form>
        
      </div>
    </div>

    <div class="welcome">
        <h1>Welcome to Chat Support <%= username %> </h1>
        <h3>Id =  <%= id %> </h3>
        <h3>Email address =  <%= email %> </h3>
        <% if (role == 'user') { %>
          <h3><%= username %> is a User</h3>
          <%} else { %>
            <h3><%= username %> is a Support</h3>
        <% } %>
    </div>
    <nav>
      <div class="nav-left">
        <button>Create</button>
        <button>Filter</button>
      </div>
      <div class="nav-right">
        <button>Log out</button>
      </div>
    </nav>
    <section>
      <h1 class="welcome">Welcome to Chat Support </h1>
    </section>
    <main>
      <div class="container">
        <div class="right-section">
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="tag1">
            <div class="form-container">
              <p class="tag-name">Tag Name</p>
              <div class="tag-box"></div>
              <button class="delete-button">Delete</button>
            </div>
          </div>
          <div class="tag2">
            <div class="form-container">
              <p class="tag-name">Tag Name</p>
              <div class="tag-box"></div>
              <button class="delete-button">Delete</button>
            </div>
          </div>
          <div class="tag3">
            <div class="form-container">
              <p class="tag-name">Tag Name</p>
              <div class="tag-box"></div>
              <button class="delete-button">Delete</button>
            </div>
          </div>
        </div>
        
      </div>

    <!-- Your website content goes here -->
    <script src="js/logout.js"></script>
  </body>
</html>