<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Welcome to Chat Support</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row my-3 bg-black py-3">
        <div class="col-6 d-flex align-items-center">
          <a class="navbar-brand ms-3 text-white" href="#">Chat Support</a>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <a class="me-3 text-white text-decoration-none" href="#">Home</a>
          <a class="me-3 text-white text-decoration-none" href="#">Filter</a>
          <a class="me-3 text-white text-decoration-none" href="#">Create Ticket</a>
          <form onsubmit="logout(event)">
              <button type="submit" class="logout-btn" type="submit">LogOut</button>
          </form>
        </div>
      </div>
    </div>

    <!-- <div class="navbar">
      <a class="navbar-brand" href="#">Chat Support</a>
      <div>
        <a href="#">Home</a>
        <a href="#">Filter</a>
        <a href="#">Create Ticket</a>
        <form onsubmit="logout(event)">
            <button type="submit" class="logout-btn" type="submit">LogOut</button>
        </form>
        
      </div>
    </div> -->

    <div class="welcome">
        <h1>Welcome to Chat Support, <%= first_name %> <%= last_name %> </h1>
        <h3>Username:  <%= username %> </h3>
        <h3>Id:  <%= id %> </h3>
        <h3>Email address:  <%= email %> </h3>
        <% if (role == 'user') { %>
          <h3><%= username %> is a User</h3>
          <%} else { %>
            <h3><%= username %> is a Support</h3>
        <% } %>
    </div>
    <nav>
      <div class="nav-left">
        <button>Create</button>
        <button>Filter</button>
      </div>
      <div class="nav-right">
        <button>Log out</button>
      </div>
    </nav>
    <section>
      <h1 class="welcome">Welcome to Chat Support </h1>
    </section>
    <main>
      <div class="container">
        <div class="right-section">
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="textBox">
              <div class="textContent">
                <p class="h1">Tag Name</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="tag1">
            <div class="form-container">
              <p class="tag-name">Tag Name</p>
              <div class="tag-box"></div>
              <button class="delete-button">Delete</button>
            </div>
          </div>
          <div class="tag2">
            <div class="form-container">
              <p class="tag-name">Tag Name</p>
              <div class="tag-box"></div>
              <button class="delete-button">Delete</button>
            </div>
          </div>
          <div class="tag3">
            <div class="form-container">
              <p class="tag-name">Tag Name</p>
              <div class="tag-box"></div>
              <button class="delete-button">Delete</button>
            </div>
          </div>
        </div>
        
      </div>

    <!-- Your website content goes here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/logout.js"></script>
  </body>
</html>